<h1>Listing pokemons</h1>

<table>
  <thead>
    <tr>

      <th>Name</th>
      <th>Nature</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pokemons.each do |pokemon| %>
      <tr>
        <td><%= pokemon.name %></td>
        <td><%= pokemon.nature %></td>
        <td><img src = "<%= pokemon.photo %>" height = "100" width = "100"/></td>
      <td><%= button_to 'Show', pokemon, :method => :get %></td>
        <td><%= button_to 'Edit', edit_pokemon_path(pokemon), :method => :get %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Pokemon', new_pokemon_path, :method => :get  %>
