<p id="notice"><%= notice %></p>



<p>
  <strong>Name:</strong>
  <%= @pokemon.name %>
</p>

<p>
  <strong>Nature:</strong>
  <%= @pokemon.nature %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @pokemon.photo %>
</p>

<%= button_to 'Edit', edit_pokemon_path(@pokemon), :method => :get  %> 
<%= button_to 'Back', pokemons_path, :method => :get  %>
	